<!-- Conference room single user-->
<dom-module id="conference-panel">
<template>
<style type="text/css">
    :host
    {
        @apply(--layout-vertical);
        @apply(--layout-center);
        @apply(--layout-center-justtified);
    }

    paper-input
    {
        min-width: 450px;
    }

    paper-button
    {
        background-color: var(--paper-indigo-500);
        color: white;

        padding: 10px 20px;
        margin: 10px 20px;
    }

    paper-button[disabled]
    {
        background-color: var(--paper-indigo-100);
    }

    paper-button:hover
    {
        background-color: var(--paper-indigo-300);
    }

    div.text-div
    {
        text-align: center;
        font-size: 18px;
        margin: 15px;
    }

</style>

    <paper-button raised onclick="createDialog.open()">Create new room</paper-button>
    <div class="text-div">OR <br> Join existing </div>
    <paper-input value="{{roomId}}" label="Enter sharing link or room id" no-label-float on-keypress="joinRoomKeyPress"></paper-input>
    <paper-button raised on-tap="joinToom" disabled$="[[_disable(roomId)]]">Join room</paper-button>
    <div id="message"></div>

    <paper-dialog id="createDialog" on-iron-overlay-closed="onCreateClosed" modal
        entry-animation="scale-up-animation"
        exit-animation="fade-out-animation">
        <paper-input autofocus value="{{userName}}" label="Your name"
            required invalid auto-validate pattern=".*"
            on-keypress="dialogKeyPress">
        </paper-input>
        <paper-input value="{{roomName}}" label="Room name (if left blank it will be auto generated)"
            on-keypress="dialogKeyPress">
        </paper-input>

        <div class="buttons">
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button dialog-confirm disabled$="[[_disable(userName)]]">Create</paper-button>
        </div>
    </paper-dialog>

</template>
<script>
Polymer({
    is: 'conference-panel',

    hostAttributes:
    {
        "hidden": ""
    },

    properties:
    {
        roomId:
        {
            type: String,
            value: ""
        },

        roomName:
        {
            type: String,
            value: ""
        },

        userName:
        {
            type: String,
            value: ""
        },

        loaded:
        {
            type: Boolean,
            reflectToAttribute: true,
            value: false
        }
    },

    ready: function()
    {
        this.loaded = true;
    },

    openCreateDialog: function()
    {
        this.roomName = "";
        this.userName = "";
    },

    show: function()
    {
        Polymer.dom(this).removeAttribute("hidden");
    },

    createRoom: function()
    {
        var myLocation = window.location;
        window.location = myLocation + "?roomId=" + makeId(15) + "&userName=" + this.userName;
    },

    onCreateClosed: function(e)
    {
        if (e.detail.canceled || !e.detail.confirmed)
            return;

        this.createRoom();
    },

    dialogKeyPress: function(e)
    {
        if (e.key === "Enter" && this.userName !== "")
        {
            this.createRoom();
            this.$.createDialog.cancel();
        }
    },

    joinToom: function()
    {
        var roomId = this.roomId;
        var myOrigin = window.location.origin;
        var myLocation = window.location;

        // Check if url or id
        if (roomId.indexOf(myOrigin) === 0)
            window.location = myLocation + "?roomId=" + queryValueFor(roomId, "roomId");
        else if (roomId.length === 15)
            window.location = myLocation + "?roomId=" + roomId;
        else
        {
            this.$.message.innerHTML = "Please enter valid url or room id!"

            if (this.isDebouncerActive("join.room"))
                this.cancelDebouncer("join.room");

            this.debounce("join.room", function(){ this.$.message.innerHTML = ""; }.bind(this), 2500 );
        }
    },

    joinRoomKeyPress: function(e)
    {
        if (e.key === "Enter" && this.roomId !== "")
            this.joinToom();
    },

    _disable: function(condition)
    {
        return !Boolean(condition);
    }
});
</script>
</dom-module>
