<!-- Conference room-->
<dom-module id="conference-room">
<template>
<style type="text/css">
    :host
    {
    }

    div#videos-container
    {
        @apply(--layout-horizontal);
        @apply(--layout-wrap);
    }

    div#shareLink
    {
        @apply(--layout-horizontal);
        @apply(--layout-center);
        @apply(--layout-center-justtified);

        margin-left: 15px;
    }

    div#shareLink > input
    {
        /*@apply(--layout-flex);*/

        width: 30vh;

        margin: 5px;
        padding: 3px 1px 1px 1px;
    }

    paper-button
    {
        background-color: var(--paper-indigo-500);
        color: white;

        padding: 10px 20px;
        margin: 10px 20px;
    }

    paper-button[disabled]
    {
        background-color: var(--paper-indigo-100);
    }

    paper-button:hover
    {
        background-color: var(--paper-indigo-300);
    }

    paper-input
    {
        min-width: 450px;
    }
</style>

    <div id="shareLink">
        <div>SHARE LINK: </div>
        <input onmousedown="this.select();" value="[[_getSharingUrl(roomId)]]" readonly></input>
        <cbn-copy-clipboard value="[[_getSharingUrl(roomId)]]">
            <paper-button on-click="onLinkCopy">copy to clipboard</paper-button>
        </cbn-copy-clipboard>
        <div id="message" style="margin-left: -20px"></div>
    </div>

    <div id="videos-container">
        <voip-user id="peer-self" self easyrtcid="Own video"></voip-user>
        <template is="dom-repeat" items="[[peers]]" as="peer">
            <voip-user id="[[_makeId(peer)]]" color="[[_getRandomColor()]]" easyrtcid="[[peer]]"></voip-user>
        </template>
    </div>

    <paper-dialog id="userNameDialog" on-iron-overlay-closed="onUserNameDialogClosed" modal
        entry-animation="scale-up-animation"
        exit-animation="fade-out-animation">

        <iron-a11y-keys id="a11y" target="[[target]]" keys="enter" on-keys-pressed="onEnter"></iron-a11y-keys>
        <paper-input autofocus value="{{userName}}" label="Enter your name"
            required invalid auto-validate pattern=".*"
            on-keypress="dialogKeyPress">
        </paper-input>

        <div class="buttons">
            <paper-button dialog-confirm dialog-confirm disabled$="[[_disable(userName)]]">Join</paper-button>
        </div>
    </paper-dialog>


</template>
<script>
Polymer({
    is: 'conference-room',

    hostAttributes:
    {
        "hidden": ""
    },

    properties:
    {
        roomId:
        {
            type: String,
            observer: "onNewRoomId"
        },

        userName:
        {
            type: String
        },

        peers:
        {
            type: Array,
            value: []
        },

        peersData:
        {
            type: Object,
            value: function(){ return {}; }

        },

        loaded:
        {
            type: Boolean,
            reflectToAttribute: true,
            value: false
        }
    },

    _randomColors: ["aqua", "blueviolet", "cadetblue", "chocolate", "cornflowerblue", "crimson", "darkcyan", "darkseagreen", "deeppink", "dodgerblue", "gray", "tomato", "steelblue", "palevioletred", "olivedrab"],

    ready: function()
    {
        this.loaded = true;

        // Shuffle array
        this._randomColors.sort(function() { return 0.5 - Math.random(); });
    },

    onNewRoomId: function(newRoomId, oldRoomId)
    {
        if (typeof(newRoomId) !== "string" || newRoomId == "")
        {
            Polymer.dom(this).setAttribute("hidden", "");
            return;
        }

        Polymer.dom(this).removeAttribute("hidden");

        if (this.userName == "")
        {
            this.async(function(){ this.$.userNameDialog.open() }.bind(this), 100);
            return;
        }

        this.initApp();
    },

    initApp: function()
    {
        // Overwrite implementation not to show in a DIV, show in console instead
        easyrtc.showError = function(messageCode, message){
            console.log("[Easy rtc error]", messageCode, message);
        }
        this.connectToRoom(this.roomId);

        // easyrtc.setRoomEntryListener( this.onRoomEntryListener.bind(this) );
        // easyrtc.setRoomOccupantListener( this.onRoomOccupantListener.bind(this) );

        // easyrtc.setStreamAcceptor( this.onStreamAccepted.bind(this) );
        // easyrtc.setOnStreamClosed( this.onStreamClosed.bind(this) );
    },

    connectToRoom: function(roomId)
    {
        easyrtc.initMediaSource(
            function(){
                // Add our own video in the first container
                easyrtc.setVideoObjectSrc( this.getVideoElement("self"), easyrtc.getLocalStream());
                // Set custom color
                this.$["peer-self"].color = this._getRandomColor();

                easyrtc.connect("WEB_RTC_DEMO", this.onConnectSuccess.bind(this), this.onConnectFailure.bind(this));
            }.bind(this),

            this.onInitFailure.bind(this)
        );
    },

    onConnectSuccess: function(myId)
    {
        console.log("My easyrtcid is " + myId);

        easyrtc.setRoomEntryListener( this.onRoomEntryListener.bind(this) );
        easyrtc.setRoomOccupantListener( this.onRoomOccupantListener.bind(this) );

        easyrtc.setStreamAcceptor( this.onStreamAccepted.bind(this) );
        easyrtc.setOnStreamClosed( this.onStreamClosed.bind(this) );


        easyrtc.joinRoom(this.roomId, null, function(roomName) {
            console.log("I'm now in room " + roomName);
        },
        function(errorCode, errorText, roomName) {
            console.log("had problems joining " + roomName);
        });
    },

    onInitFailure: function(errmesg)
    {
        console.log("[onInitFailure]", errmesg);
    },

    onConnectFailure: function(errmesg)
    {
        console.log("[onConnectFailure]", errmesg);
    },

    onRoomEntryListener: function(roomid, stream)
    {
        if (roomid !== this.roomId)
            return;

        console.log("[onRoomEntryListener]", id, stream);
    },

    onRoomOccupantListener: function(roomid, listObject)
    {
        if (roomid !== this.roomId)
            return;
        // console.log("[onRoomOccupantListener]", roomid, listObject);

        var keys = Object.keys(listObject);

        for (var i = keys.length - 1; i >= 0; i--)
            if (this.peers.indexOf(keys[i]) === -1)
            {
                var userData = listObject[keys[i]];
                this.set("peersData." + userData.easyrtcid, userData)
                this.push("peers", userData.easyrtcid);
                console.log("[add ocupant to room]", userData.easyrtcid );
            }
    },

    onStreamAccepted: function(id, stream, streamName)
    {
        var video = this.getVideoElement(id);

        if (!this.peersData[id].stream || this.peersData[id].stream.id !== stream.id)
        {
            console.log("[onStreamAccepted]", id, stream.id);
            this.peersData[id].stream = stream;
            easyrtc.setVideoObjectSrc(video, stream);
        }
    },

    onStreamClosed: function(id, stream, streamName)
    {
        console.log("[onStreamClosed]", id, stream, streamName);
        //easyrtc.setVideoObjectSrc(this.getVideoElement(id), "");

        this.peersData[id] = null;
        delete this.peersData[id];

        for (var i = this.peers.length - 1; i >= 0; i--)
        {
            if (id === this.peers[i])
            {
                this.splice("peers", i, 1);
                break;
            }
        }
    },

    getVideoElement: function(id)
    {
        return this.$$("#peer-" + id).$["user-video"];
    },

    onLinkCopy: function()
    {
        this.$.message.innerHTML = "Copied!"

        if (this.isDebouncerActive("copy.sharelink"))
            this.cancelDebouncer("copy.sharelink");

        this.debounce("copy.sharelink", function(){ this.$.message.innerHTML = ""; }.bind(this), 2500 );
    },

    dialogKeyPress: function(e)
    {
        if (e.key === "Enter" && this.userName !== "")
            this.$.userNameDialog.close();
    },

    onUserNameDialogClosed: function(e)
    {
        this.initApp();
    },

    _getSharingUrl: function(roomId)
    {
        return window.location.origin + "?roomId=" + roomId;
    },

    _makeId: function(easyrtcid)
    {
        return "peer-" + easyrtcid;
    },

    _getRandomColor: function()
    {
        var val = this._randomColors.shift();
        this._randomColors.push(val);
        return val;
    },

    _disable: function(condition)
    {
        return !Boolean(condition);
    }
});
</script>
</dom-module>

<!-- Conference room single user-->
<dom-module id="voip-user">
<template>
<style type="text/css">
    :host
    {
        width: 40vh;
        height: 40vh;

        color: white;
        background-color: var(--custom-color);

        margin: 15px;
        padding: 10px;
        border-radius: 5px;

        @apply(--layout-vertical);
        @apply(--layout-center);
        @apply(--layout-center-justtified);
    }

    div#user-name{
        font-size: 22px;
        font-weight: 600;
    }

    video#user-video{
        width: calc(40vh - 20px);
        height: calc(40vh - 20px);
    }
</style>

    <div id=user-name>[[easyrtcid]]</div>
    <video id=user-video></video>

</template>
<script>
Polymer({
    is: 'voip-user',

    properties:
    {
        self:
        {
            type: Boolean,
            value: false,
            reflectToAttribute: true
        },
        easyrtcid:
        {
            type: String,
            reflectToAttribute: true
        },
        color:
        {
            type: String,
            observer: "_onColorChanged"
        }
    },

    ready: function()
    {
        if (this.self)
        {
            console.log("created div for self");

            // Mute own video to avoid sound loop
            this.$["user-video"].muted = true;
        }
        else
        {
            console.log("created div for other peer", this.easyrtcid);
            this.async( easyrtc.call.bind(easyrtc, this.easyrtcid), parseInt(Math.random()*2000));
        }
    },

    _onColorChanged: function(color)
    {
        console.log("_onColorChanged - " + color)
        this.customStyle["--custom-color"] = color;
        this.updateStyles();
    }
});
</script>
</dom-module>
